In [1]:
import sqlite3
import sqlalchemy
import pandas
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, desc
sqlite_file = 'data.sqlite'

In [19]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("data.sqlite")
df = pd.read_sql_query("select * from deploy1 where Blat = '';", conn)
df

,,birthYear,nameFirst,nameLast,BLat,BLng,birthCountry,deathYear,birthCity,Flag
0,1585,,,Boland,,,,,,
1,1653,,,Booth,,,,,,
2,2130,,Robert,Brown,,,,,,
3,2747,,,Carroll,,,,,,
4,2791,,Tommy,Casey,,,,,,
5,2881,,James,Cavanagh,,,,,,
6,3444,,Red,Connally,,,,,,
7,3754,,George,Crawford,,,,,,
8,4629,,Pete,Donnelly,,,,,,
9,4761,,Dave,Drew,,,,,,
10,5016,,,Edwards,,,,,,
11,5259,,,Evans,,,,,,
12,5822,,,Franklin,,,,,,
13,5830,1861,George,Frazer,,,,1913,,
14,6219,,,Gavern,,,,,,
15,6240,,Billy,Geer,,,,,,
16,7124,,James,Haley,,,,,,
17,7153,,Jim,Hall,,,,,,
18,7384,,James,Harris,,,,,,
19,7392,,,Harrison,,,,,,
20,7872,,,Higby,,,,,,
21,7925,,,Hillebrand,,,,,,
22,8171,,Patrick,Horan,,,,,,
23,8948,,,Jones,,,,,,
24,9937,,Ben,Laughlin,,,,,,
25,10137,,,Leonard,,,,,,
26,10740,1855,John,Magner,,,,,,
27,10751,,Thomas,Maguire,,,,,,
28,10835,,Martin,Malone,,,,,,
29,10842,,John,Maloney,,,,,,
...,...,...,...,...,...,...,...,...,...,...
34,11693,,,McRemer,,,,,,
35,12277,,Molly,Moore,,,,,,
36,12601,,,Murphy,,,,,,
37,12602,,Clarence,Murphy,,,,,,
38,13243,,,O'Rourke,,,,,,
39,13566,,George,Patterson,,,,,,
40,13579,,Lou,Paul,,,,,,
41,13961,,,Pierce,,,,,,
42,14329,,,Quinlan,,,,,,
43,14341,,Joseph,Quinn,,,,,,
44,14342,,,Quinn,,,,,,
45,14887,,Charlie,Ritter,,,,,,
46,15904,,,Scott,,,,,,
47,16037,,,Shaffer,,,,,,
48,16143,,,Sheridan,,,,,,
49,16172,1968,Mike,Shildt,,,,,,
50,16350,,Al,Skinner,,,,,,
51,16569,,,Smith,,,,,,
52,16747,,,Spencer,,,,,,
53,16809,,,Stafford,,,,,,
54,16913,,William,Stein,,,,,,
55,16958,,,Sterling,,,,,,
56,17030,,,Stoddard,,,,,,
57,17316,,,Sweigert,,,,,,
58,17721,,Thomas,Tinney,,,,,,
59,18092,,Bob,Valentine,,,,,,
60,19063,,,Wills,,,,,,
61,19262,,,Wood,,,,,,
62,19337,1847,Herb,Worth,,,,1914,,
63,19464,,Gus,Yost,,,,,,

In [6]:
mycur = conn.cursor() 
mycur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
available_table=(mycur.fetchall())

In [7]:
available_table

[('Deploy1',)]